.icon-lg-correction {
  font-size: 2em;
  line-height: 1em;
  position: relative;
  top: -4px;
}
.content-head {
  .clearfix;
  padding: @xl-space 0;
}
.toggle-usermenu {
  color: @gray-light;
}
.toggle-usermenu,
.toggle-course-navigation {
  .icon-lg-correction;
}
.total-point-count > i.fa {
  .icon-lg-correction;
  float: left;
  margin-right: @m-space;
}
.working-status {
  color: @silver;
  line-height: 2.5em;
}