body {
	background: @sky-blue;
}

.container {
  position: relative;
}

.row {
	padding: 20px;
}

.list-group {
	margin-top: -40px;
	li {
		border: none;
	}
}


.speech-bubble {
  .clearfix;
  position: relative;
  margin-bottom: @xl-space;
  .bubble {
    .pull-left;
    position: relative;
    background: #34495e;
    min-height: @xl-space * 3;
    color: #fff;
    margin-left: @xl-space;
    padding: @l-space;
    padding-left: 3em;
    z-index: 2;
    font-style: italic;
    font-weight: 300;
    &:before {
      font-family: 'FontAwesome';
      content: @fa-var-quote-left;
      position: absolute;
      top: @m-space;
      left: @xl-space;
      font-size: 1em;
    }
    &:after {
      right: 100%;
      top: @l-space;
      border: solid transparent;
      border-right-color: @brand-primary;
      border-width: @m-space;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      z-index: 1;
    }
  }
  .avatar {
    .img-circle;
    .pull-left;
  	height: 60px;
    width: 60px;
    display: block;
  }
  &.right-handed {
    .avatar, .bubble {
      .pull-right;
    }
    .bubble {
      margin-left: 0;
      margin-right: @xl-space;
      &:after {
        left: 100%;
        border-right-color: transparent;
        border-left-color: @brand-primary;
      }
    }
  }
}
  
.chapter-counter {
	border: 2px solid #000;
	border-radius: 30px;
	padding: 5px 0 0 0;
	text-align: center;
	font-size: 32px;
	height: 60px;
	width: 60px;
}

.user-overview {
	div {
		float: left;
		border-right: 1px solid #e5e5e5;
		padding: 0 20px;
		color: #e5e5e5;

		strong {
			color: #000;
		}
	}
	div:last-child {
		border: none;
	}
}

.course-nav-container {
	background: @gray-dark;
	color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  .btn-default.btn-link {
    .transition(.3s);
    color: @clouds;
    &:hover {
      text-decoration: none;
      color: @silver;
    }
  }
	.course-nav-header {
		padding: @line-height-computed 0;
	}
  .course-title {
    .one-line-text;
    background: @wet-asphalt;
    margin-bottom: 1px;
    font-size: 1.25em;
    padding: 10px 15px;
  }
	.list-group {
		border-radius: 0;

    .list-group-item {
      background: @midnight-blue;
      border: 0;
      border-bottom: 1px solid @wet-asphalt;
      border-radius: 0;
      margin-bottom: 0;
      line-height: 1.75em;
      padding-right: 0;
      > a {
        color: @clouds;
      }
      .item-drag-handle {
        color: rgba(255,255,255,.3);
        width: 20px;
        text-align: right;
        padding: 0 5px;
      }
      .fa-stack {
        width: 1em;
        margin-right: 5px;
        > .fa-circle {
          font-size: .44em;
          display: none;
        }
        &.done > .fa-circle {
          color: @turquoise;
          display: block;
        }
        &.current > .fa-circle {
          color: inherit;
          display: block;
        }
      }
    }
	}
	.btn-container {
		width: 100%; 
		padding: 5px 15px;

		.btn {
			border: 2px dashed #34404d;
			background: #333;
			color: #fff;
			width: 100%;
		}
	}
}

.onoffswitch {
    position: relative; width: 74px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #71C277; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 18px; 
    margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; 
    border-radius: 20px;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right: 40px;
    -moz-transition: all 0.3s ease-in 0s; 
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; 
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.switch-text {
	margin-left: 15px;
	padding-top: 6px;
}

.well {
  background: white;
  border-radius: 0;
  border: none;
  .box-shadow(0 2px 0 #E3E3E3);
  padding: @l-space;
  > h2 {
    margin: 0 0 @l-space;
  }
}

.course-description {
  color: @gray-light;
}
.course-overview-preview {
  background: transparent url("../img/course/course_overview.png") no-repeat top center;
  background-size: 100% auto;
  text-align: center;
  .btn.btn-warning {
    margin: 160px auto 0;
  }
}