<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="chapterCompletedLabel">
        Kapitel abgeschlossen!
      </h4>
    </div>
    <div class="modal-body">
      <div class="progress-facts">
        <div class="label">Abgeschlossene Kapitel:</div>
        <div class="value">3 von 6</div>
      </div>
      <div class="progress-facts">
        <div class="label">Erreichte Punkte:</div>
        <div class="value">500 von 750</div>
      </div>
      <div class="progress-facts">
        <div class="label">Fortschritt:</div>
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="earned-points">+ 500 Pkt.</span>
          </div>
        </div> 
      </div>
      <div class="progress-facts earned-achievements">
        <div class="label">Achievements:</div>
        <div class="value">
          <div class="achievement-small achievement-round circle-no1"></div>
          <div class="achievement-small achievement-round no1-badge"></div>
          <div class="achievement-small achievement-round star-shield"></div>
          <div class="achievement-small achievement-round star-cup2"></div>
          <div class="achievement-small achievement-round ranking"></div>
          
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-link pull-left btn-restart" data-dismiss="modal"><i class="icon icon-restart"></i> Restart</button>
      <a class="btn btn-primary" id="continue_btn" ng-controller="PlayerController" ng-click="chapterFinished(courseId)">Nächster Schritt</a>

    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
