<div class="col-md-4">
  <div class="course-box">
    <img src="img/facebook1.jpg" class="course-img"></img>
    <div class="course-infos">
      <div class="course-author">
        <img src="img/dad.jpg" class="avatar avatar-lg">
        <div class="author-name pull-left">
          Gregor Swatek
          <small>Online-Marketing</small>
        </div>
      </div>
      <h3>Wie baue ich eine Facebook Fanpage auf?</h3>
      <div class="course-footer">
        <span class="course-rating pull-left">
          <i class="icon icon-star"></i> 4.5
        </span>
        <span class="course-readers pull-left">
          <i class="icon icon-reading"></i> 33
        </span>
        <a href="#" class="btn btn-success pull-right">Spielen</a>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="course-box">
    <img src="img/jimdo1.jpg" class="course-img"></img>
    <div class="course-infos">
      <div class="course-author">
        <img src="img/bbfoto.jpg" class="avatar avatar-lg">
        <div class="author-name pull-left">
          Hendric Rüsch
          <small>Webauftritt</small>
        </div>
      </div>
      <h3>1-2-3 Jimdo und Du. Die eigene Homepage mit Shopmodul in 5 Minuten aufgesetzt.</h3>
      <div class="course-footer">
        <span class="course-rating pull-left">
          <i class="icon icon-star"></i> 3.0
        </span>
        <span class="course-readers pull-left">
          <i class="icon icon-reading"></i> 65
        </span>
        <a href="#" class="btn btn-success pull-right">Spielen</a>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="course-box">
    <img src="img/security1.jpg" class="course-img"></img>
    <div class="course-infos">
      <div class="course-author">
        <img src="img/player.PNG" class="avatar avatar-lg">
        <div class="author-name pull-left">
          Oliver Hermanni
          <small>Datensicherheit</small>
        </div>
      </div>
      <h3>NSA my Ass sein Nachbar: Wie Geschäftsgeheimnisse im Geschäft geheim bleiben.</h3>
      <div class="course-footer">
        <span class="course-rating pull-left">
          <i class="icon icon-star"></i> 4.0
        </span>
        <span class="course-readers pull-left">
          <i class="icon icon-reading"></i> 50
        </span>
        <a href="#" class="btn btn-success pull-right">Spielen</a>
      </div>
    </div>
  </div>
</div>
