<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Navigation wechseln</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><b>biz</b>cademy</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <!-- add "progress-striped active" classes if points earned -->
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
            <span class="label pull-left">Fortschritt</span>
            <span>2/10</span>
          </div>
        </div>
      </li>
      <li>
        <a href="/" class="total-point-count">
          <i class="fa fa-rocket"></i>
          <span class="current-points">1337</span>
          <span class="additional-points">+ 450</span>
        </a>
      </li>
      <li><a href="#about">Anmelden</a></li>
      <li><button type="button" class="btn btn-primary navbar-btn">Registrieren</button></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
