<h2 class="course-title" ng-controller="SidebarController">{{course.title}}</h2>
<ul class="list-group chapters" ng-controller="SidebarController">
    <li class="list-group-item chapter" ng-repeat="chapter in course.chapters">
        <i class="chapter-status pull-left"></i>        
        <a class="chapter-title pull-left" href="#/course/{{course.id}}/chapter/{{chapter.id}}">{{chapter.title}}</a>
        <i class="fa fa-ellipsis-v fa-2x pull-right item-drag-handle"></i>
    </li>
</ul>
<a class="btn btn-link btn-default" href="#/course/{{course.id}}/chapter/add">
    <i class="fa fa-plus"></i> Neues Kapitel hinzufügen
</a>
