<h2 class="course-title">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind</h2>
<ul class="list-group chapters" ng-controller="SidebarController">
    <li class="list-group-item chapter" ng-repeat="chapter in chapters">
        <i class="chapter-status pull-left"></i>        
        <a class="chapter-title pull-left" href="#/chapter/{{chapter.id}}">{{chapter.title}}</a>
        <i class="fa fa-ellipsis-v fa-2x pull-right item-drag-handle"></i>
    </li>
</ul>
<a class="btn btn-link btn-block btn-default" href="#/addchapter">
    <i class="fa fa-plus"></i> Add new chapter
</a>
