<div class="well">
  <h2>{{ moduleData.title }}</h2>

  <p class="description" ng-bind-html="to_trusted(moduleData.summary)">
    {{moduleData.summary}}
  </p>
</div>
<div class="chapter-actions">
  <a class="btn btn-default btn-link pull-left" href="#/player/course/{{courseId}}" ng-show="player"><i class="fa fa-angle-left"></i> Zurück zum Kurs</a>

    <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#chapter-completed" ng-show="!nextLink">Weiter <i class="fa fa-angle-right"></i></a>
    <a class="btn btn-primary pull-right" href="#/{{nextLink}}" ng-hide="!nextLink">Weiter  <i class="fa fa-angle-right"></i></a>
</div>
