<div class="well">
  <h2>{{ moduleData.title }}</h2>

  <p class="description" ng-bind-html="to_trusted(moduleData.text)">
    {{ moduleData.text }}
  </p>
</div>
<div class="chapter-actions">
  <a class="btn btn-default btn-link pull-left" href="#/course/{{courseId}}"><i class="fa fa-angle-left"></i> Zurück zum Kurs</a>

  <a class="btn btn-primary pull-right" href="#/course/{{courseId}}">Nächster Schritt <i class="fa fa-angle-right"></i></a>
  <a class="btn btn-link pull-right" href="javascript:;" data-toggle="modal" data-target="#chapter-completed">Beenden</a>
</div>
