<div class="col-md-9">
  <div class="well">
    <h2>{{ quiz.title }}</h2>

    <p class="description">
      {{ quiz.summary }}
    </p>
  </div>
  <div class="speech-bubble right-handed">
    <img src="img/dirtydieter.jpg" class="avatar">

    <div class="bubble col-md-6">
      {{ chapter.advice }}
    </div>
  </div>
  <h3>Answers</h3>

  <!-- Button trigger modal -->
  <button class="btn btn-secondary" data-toggle="modal" data-target="#type-chooser">
    Launch type chooser
  </button>

  <!-- Modal -->
  <div class="modal fade" id="type-chooser" tabindex="-1" role="dialog" aria-labelledby="typeChooserLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="typeChooserLabel">Choose the type for the next Step:</h4>
        </div>
        <div class="modal-body">
          <a href="" class="btn-choose text-type">
            <i class="icon icon-bubble2"></i>
            <span class="type-label">Text Type</span>
            <span class="type-hint">e.g. text or instructions</span>
          </a>
          <a href="" class="btn-choose game-type">
            <i class="icon icon-gamepad"></i>
            <span class="type-label">Game Type</span>
            <span class="type-hint">e.g. quiz or interaction</span>
          </a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  <div class="chapter-actions">
    <a href="#">Create another chapter</a> or <a class="btn btn-primary">Create new step <i class="fa fa-angle-right"></i></a>  
  </div>  
</div>
<div class="col-md-3 course-nav-container">
  <div class="row">
    <div class="course-navigation" ng-include src="'js/views/partials/sidebar.html'"></div>
  </div>
</div>

