<div class="well">
    <h2>{{ moduleData.title }}</h2>

    <h3>{{moduleData.question}}</h3>
    <p class="description" ng-bind-html="to_trusted(moduleData.summary)">
        {{ moduleData.summary }}
    </p>

    <div ng-hide="player">
        <a class="btn btn-primary" href="#/chapter/{{moduleData.chapter_id}}/module/quiz/edit/{{moduleData.id}}">Quiz bearbeiten</a>
    </div>


</div>

<div class="speech-bubble right-handed">
    <img src="img/hendric.png" class="avatar avatar-md">

    <div class="bubble col-md-6">
        {{ moduleData.advice }}
    </div>
</div>


<h3 class="headline-with-dropdown">
    <span class="pull-left">Quiz-Module</span>
</h3>
<div>
    <div class="answer custom-checkbox-control" ng-repeat="answer in moduleData.answers">

        <input id="checkbox{{$index}}" class="hidden" type="checkbox" value="" ng-model="my_answer.checked"></input>
        <label class="custom-checkbox" for="checkbox{{$index}}"></label>
        <div class="checkbox-label">{{answer.answer}}</div>
    </div>
</div>

<h3 class="hints-title hidden"> Tipps</h3>
<div ng-repeat="hint in moduleData.hints" >
    <div class="hint-wrapper filled hidden" id="hint{{$index}}">
        <div class="hint-counter">{{$index+1}}</div>
        <div class="hint-text">{{hint.hint}}</div>
    </div>
</div>

<div class="chapter-actions">
    <a class="btn btn-default btn-link pull-left" href="#/player/course/{{courseId}}"><i class="fa fa-angle-left"></i> Zurück zum Kurs</a>


    <a class="btn btn-primary pull-right" ng-controller="QuizModulePlayController" ng-click="testInput()" ng-show="!test_complete">Eingabe prüfen<i class="fa fa-angle-right"></i></a>
    <a class="btn btn-primary hidden pull-right" id="continue_btn" href="#/{{nextLink}}">Weiter <i class="fa fa-angle-right"></i></a>

    <a class="btn btn-link pull-right" href="javascript:;" data-toggle="modal" data-target="#chapter-completed">Beenden</a>
</div>
