<div class="well">
    <!-- <h2>{{ moduleData.title }}</h2> -->

    <h2>{{moduleData.question}}</h2>
    <p class="description" ng-bind-html="to_trusted(moduleData.summary)">
        {{ moduleData.summary }}
    </p>

    <div ng-hide="player">
        <a class="btn btn-primary" href="#/chapter/{{moduleData.chapter_id}}/module/quiz/edit/{{moduleData.id}}">Quiz bearbeiten</a>
    </div>


</div>

<div class="speech-bubble right-handed">
    <img src="img/hendric.png" class="avatar avatar-md">

    <div class="bubble col-md-6">
        {{ moduleData.advice }}
    </div>
</div>


<h3 class="headline-with-dropdown">
    <span class="pull-left">Quiz-Modul</span>
</h3>
<div class="answer custom-checkbox-control" ng-repeat="answer in moduleData.answers">

    <input id="checkbox{{$index}}" class="hidden" type="checkbox" value="" ng-model="my_answer.checked"></input>
    <label class="custom-checkbox" for="checkbox{{$index}}"></label>
    <div class="checkbox-label">{{answer.answer}}</div>
</div>

<div class="answer-validation first">
  <div class="answer-first-text">
    <span class="pull-left">
      <i class="icon icon-question5"></i>
     Bitte wähle die richtigen Antworten aus.
    </span>
      <a class="btn btn-inverse pull-right" ng-controller="QuizModulePlayController" ng-click="testInput()" ng-show="!test_complete">Eingabe prüfen</a>
  </div>
  <div class="answer-correct-text">
    <span class="pull-left">
      <i class="icon icon-checkmark"></i>
      Sehr gut! Du hast richtig geantwortet.
    </span>
    <a class="btn btn-inverse pull-right" data-toggle="modal" data-target="#chapter-completed" ng-show="!nextLink">Weiter <i class="fa fa-angle-right"></i></a>
    <a class="btn btn-inverse hidden pull-right" id="continue_btn" href="#/{{nextLink}}" ng-hide="!nextLink">Weiter <i class="fa fa-angle-right"></i></a>
  </div>
  <div class="answer-wrong-text">
    <span class="pull-left">
      <i class="icon icon-close"></i>
      Schade! Versuch es bitte noch einmal.
    </span>
    <a class="btn btn-inverse pull-right" ng-controller="QuizModulePlayController" ng-click="testInput()" ng-show="!test_complete">Eingabe prüfen</a>
    <a ng-controller="QuizModulePlayController" ng-click="showHint()" class="btn btn-link pull-right">Tipp anzeigen</a>
  </div>
</div>

<h3 class="hints-title hidden"> Tipps</h3>
<div ng-repeat="hint in moduleData.hints" >
    <div class="hint-wrapper filled hidden" id="hint{{$index}}">
        <div class="hint-counter">{{$index+1}}</div>
        <div class="hint-text">{{hint.hint}}</div>
    </div>
</div>

<div class="chapter-actions">
    <a class="btn btn-default btn-link pull-left" href="#/player/course/{{courseId}}"><i class="fa fa-angle-left"></i> Zurück zum Kurs</a>
    <a class="btn btn-link pull-right" href="javascript:;" >Beenden</a>
</div>
