<div class="container">
  <div class="row" id="content">

    <div class="col-md-9">
      <ol class="breadcrumb">
        <li><a href="#">Start</a></li>
        <li><a href="#">Bibliothek</a></li>
        <li class="active">Data</li>
      </ol>
      <div class="well">
        <h2>{{ quiz.title }}</h2>

        <p class="description">
          {{ quiz.summary }}
          <button data-toggle="pointUp">point up test</button>
        </p>
      </div>
      <div class="speech-bubble right-handed">
        <img src="img/dirtydieter.jpg" class="avatar">

        <div class="bubble col-md-6">
          {{ chapter.advice }}
        </div>
      </div>
      <h3 class="headline-with-dropdown">
        <span class="pull-left">Quiz-Module</span>
        <div class="btn-group select select-block pull-right">
          <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" type="button">
            <i class="icon icon-brush"></i>
            Quiz-Theme wählen
            <span class="caret"></span>
          </button>

          <span class="dropdown-arrow"></span>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">
                <i class="icon icon-list2"></i>
                Klassisch
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon icon-grid2"></i>
                Memory
              </a>
            </li>
            <li class="selected">
              <a href="#">
                <i class="icon icon-stopwatch"></i>
                Jack-Attack
              </a>
            </li>
          </ul>
        </div>
      </h3>
      <div id="jack-attack" class="jack-attack-wrapper">
        <div class="cube-overlay"></div>
        <div class="cube-container">
          <div id="cube" class="panels-backface-invisible show-bottom">
            <div class="cube-site front">
              <p>sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="cube-site back">
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
            </div>
            <div class="cube-site right">
              <p>ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
            </div>
            <div class="cube-site left">
              <p>voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="cube-site top">
              <p>Excepteur sint occaecat cupidatat non proident</p>
            </div>
            <div class="cube-site bottom">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            </div>
          </div>
        </div>
        <div class="attack-actions">
          <div class="answers-count">
            <span class="ja-label">Korrekt:</span>
            <span class="ja-count">2/3</span>
          </div>
          <a href="" class="btn btn-inverse btn-lg">
            Spiel starten!
          </a>

          <a href="" class="btn btn-success btn-buzzer">
            <i class="icon icon-checkmark"></i>
          </a>
          <div class="game-timer">
            <span class="ja-label">Zeit:</span>
            <span class="ja-count">2:35</span>
          </div>
        </div>
      </div>
      <div class="answer custom-checkbox-control">
        <input id="checkbox" class="hidden" type="checkbox" value=""></input>
        <label class="custom-checkbox" for="checkbox"></label>
        <div class="checkbox-label">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
        <a href="#" class="answer-remove"><i class="icon icon-remove"></i></a>
      </div>
      <div class="answer custom-checkbox-control">
        <input id="checkbox" class="hidden" type="checkbox" value=""></input>
        <label class="custom-checkbox" for="checkbox"></label>
        <div class="checkbox-label">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
        <a href="#" class="answer-remove"><i class="icon icon-remove"></i></a>
      </div>
      <div class="answer custom-checkbox-control">
        <input id="checkbox" class="hidden" type="checkbox" value=""></input>
        <label class="custom-checkbox" for="checkbox"></label>
        <div class="checkbox-label">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
        <a href="#" class="answer-remove"><i class="icon icon-remove"></i></a>
      </div>
      <a href="javascript:;" class="add-answer">
        <i class="icon icon-enter-alt"></i>
        <span>Antwort hinzufügen</span>
      </a>

      <h3> Tipps <span class="hint">(wir empfehlen alle 3 Tipps anzugeben)</span></h3>

      <div class="hint-wrapper filled">
        <div class="hint-counter">1</div>
        <div class="hint-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
      </div>
      <div class="hint-wrapper filled">
        <div class="hint-counter">2</div>
        <div class="hint-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
      </div>
      <div class="hint-wrapper">
        <div class="hint-counter">3</div>
        <div class="hint-text">Neuen Tipp hinzufügen</div>
      </div>


      <div class="chapter-actions">
        <a href="/" class="btn btn-link btn-default pull-left"><i class="fa fa-angle-left"></i> Back</a>
        <a href="#">Weiteres Kapitel erstellen</a> or <a class="btn btn-primary" data-toggle="modal" data-target="#type-chooser">Schritt hinzufügen <i class="fa fa-angle-right"></i></a>
      </div>



    </div>
    <div class="col-md-3 course-nav-container">
      <div class="row">
        <div class="course-navigation" ng-include src="'js/views/partials/sidebar.html'"></div>
      </div>
    </div>



    <div class="modal fade" id="type-chooser" tabindex="-1" role="dialog" aria-labelledby="typeChooserLabel" aria-hidden="true" ng-include src="'js/views/partials/type-chooser.html'">
    </div>
  </div>
</div>