<div id="course-congratulation" class="container-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          Herzlichen Glückwunsch
          <span>zum erfolgreichen Kursabschluss!</span>
        </h1>
        <div class="speech-bubble">
          <img src="img/dad.jpg" class="avatar avatar-lg">

          <div class="bubble col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            Zum Abschluss meines Kurses <b>Pain in the ASS</b> möchte ich mich bei dir herzlich bedanken und dich gleichzeitig beglückwünschen:
            <br />
            Du bist nun <b>zertifizierter Google AdWords-Manager</b> und somit in der Lage diese Kampagnen zum Erfolg zu führen. 
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>

<div id="course-achievement" class="container-wrapper">
  <div class="container">
    <div class="row">
      <i class="icon icon-racing icon-section-divider"></i>
      <h2>Deine Leistungen im Überblick</h2>
      <div class="row">
        <div class="col-md-10 col-md-push-1">
          <div class="certificate-wrapper col-sm-5 col-md-5">
            <div class="certificate col-md-12">
              <div class="headline">Zertifikat</div>
              <p>
                <span class="text-mock text-mock-lg"></span>
                <span class="text-mock text-mock-md"></span>
                <span class="text-mock text-mock-sm"></span>
                <span class="text-mock text-mock-md"></span>

                <span class="text-mock text-mock-hg"></span>
                <span class="text-mock text-mock-md"></span>

              </p>
              <p class="course-participant">
                Für
                <span>Gregor Swatek</span>
              </p>
              <p>
                <span class="text-mock text-mock-md"></span>
                <span class="text-mock text-mock-sm"></span>
                <span class="text-mock text-mock-sm"></span>
                <span class="text-mock text-mock-md"></span>
              </p>
              <svg class="certificate-badge pull-right" version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 423.336 565.511" enable-background="new 0 0 105 142" xml:space="preserve">
              <g>
              	<path fill="#E74C3C" d="M166.374,417.953c-4.461-2.578-13.539-5.003-18.682-5.003h-33.125c-11.111,0-23.217-6.996-28.771-16.617
              		l-16.562-28.686c-0.492-0.854-1.16-1.819-1.953-2.854L13.296,520.771l79.143-19.541l50.137,64.281l46.527-134.441l-1.369-0.784
              		L166.374,417.953z"/>
              	<path fill="#E74C3C" d="M354.112,367.647l-16.564,28.686c-5.555,9.628-17.658,16.617-28.775,16.617h-33.125
              		c-5.145,0-14.223,2.425-18.676,5.003l-21.365,12.332l-1.367,0.789l46.529,134.437l50.129-64.281l79.148,19.541l-53.982-155.978
              		C355.27,365.828,354.604,366.793,354.112,367.647z"/>
              	<path fill="#F1C40F" d="M211.673,85.052c-69.74,0-126.481,56.736-126.481,126.481c0,69.741,56.74,126.476,126.481,126.476
              		c69.744,0,126.476-56.734,126.476-126.476C338.149,141.788,281.417,85.052,211.673,85.052z M285.686,197.454l-31.059,30.276
              		l7.334,42.745c1.545,9.015-3.812,12.907-11.908,8.65l-38.389-20.181l-38.389,20.181c-8.096,4.256-13.453,0.364-11.906-8.65
              		l7.33-42.745l-31.057-30.276c-6.547-6.385-4.5-12.681,4.549-13.996l42.922-6.237l19.193-38.894c4.047-8.201,10.668-8.201,14.715,0
              		l19.195,38.894l42.92,6.237C290.188,184.773,292.233,191.069,285.686,197.454z"/>
              	<path fill="#F1C40F" d="M421.251,202.645l-16.553-28.677c-3.967-6.875-7.078-18.477-7.078-26.414v-33.126
              		c0-5.462-4.148-12.648-8.879-15.378l-28.689-16.564c-6.883-3.976-15.375-12.472-19.336-19.342l-16.564-28.677
              		c-2.732-4.734-9.918-8.884-15.379-8.884h-33.125c-7.939,0-19.539-3.107-26.41-7.076L220.556,1.941
              		c-4.506-2.587-13.258-2.592-17.771,0.005l-28.676,16.56c-6.879,3.969-18.482,7.076-26.416,7.076h-33.125
              		c-5.463,0-12.65,4.15-15.379,8.882l-16.57,28.684c-3.955,6.865-12.447,15.361-19.326,19.337L34.604,99.048
              		c-4.73,2.729-8.881,9.915-8.881,15.38v33.126c0,7.933-3.105,19.532-7.072,26.409l-16.57,28.689
              		c-2.775,4.81-2.775,12.95,0.004,17.767l16.564,28.675c3.969,6.887,7.074,18.486,7.074,26.417v33.126
              		c0,5.462,4.152,12.648,8.883,15.382l28.682,16.56c3.838,2.216,8.363,5.974,12.412,10.306c2.059,2.207,4.928,5.561,6.93,9.048
              		l16.557,28.666c2.73,4.734,9.918,8.884,15.381,8.884h33.125c7.93,0,19.531,3.105,26.41,7.069l28.683,16.564
              		c4.512,2.602,13.258,2.602,17.774,0l28.678-16.559c6.875-3.969,18.475-7.074,26.41-7.074h33.125c5.461,0,12.647-4.15,15.377-8.882
              		l16.57-28.685c2.018-3.5,4.875-6.844,6.918-9.029c4.057-4.339,8.58-8.096,12.414-10.31l28.689-16.56
              		c4.729-2.732,8.879-9.92,8.879-15.38v-33.126c0-7.935,3.108-19.537,7.078-26.414l16.557-28.683
              		C424.03,215.603,424.03,207.462,421.251,202.645z M211.673,369.485c-87.098,0-157.957-70.854-157.957-157.952
              		c0-87.1,70.859-157.956,157.957-157.956c87.096,0,157.951,70.856,157.951,157.956C369.624,298.631,298.769,369.485,211.673,369.485
              		z"/>
              </g>
              </svg>
              <div class="certificate-date pull-left">
                Zertifikat erteilt am:
                <span>09.02.2014</span>
              </div>
            </div>
            <a href="/#/" class="btn btn-lg btn-link"><i class="icon icon-file-pdf"></i> Zertifikat herunterladen</a>
          </div>

          <div class="col-sm-7 col-md-7">
            <div class="achievement-summary">
              <div class="as-item">
                <span class="as-value">
                  <i class="icon icon-alarm"></i>
                  <span class="label">Spielzeit</span>
                  2:33
                </span>
                <p>Für den Abschluss des Kurses hast du folgende Zeit benötigt. Zum Vergleich: Der schnellste Teilnehmer beendete diesen Kurs in 1:50.</p>
              </div>
              <div class="as-item">
                <span class="as-value">
                  <i class="fa fa-rocket"></i>
                  <span class="label">Punktzahl</span>
                  3580
                </span>
                <p>Deine erreichte Punktezahl bei diesen Kurs von insgesamt 4000 möglichen Punkten. Zum Vergleich: Der Beste Teilnehmer dieses Kurses hat 3980 Punkte erreicht.</p>
              </div>
              <div class="as-item">
                <span class="as-value">
                  <i class="icon icon-arrow-circle-up"></i>
                  <span class="label">Vergleich</span>
                  1/3
                </span>
                <p>Im Vergleich zu allen Kursabsolventen befindest du dich mit deiner Leistung im oberen Drittel. Sehr gut!</p>
              </div>
              <div class="as-item">              
                <div class="achievement-medium achievement-round circle-no1"></div>
                <div class="achievement-medium achievement-round no1-badge"></div>
                <div class="achievement-medium achievement-round star-shield"></div>
                <div class="achievement-medium achievement-round star-cup2 muted"></div>
                <div class="achievement-medium achievement-round ranking muted"></div>
                <p>In diesem Kurs hast Du insgesamt 3 von 5 möglichen Auszeichnungen erhalten.</p>
              </div>              
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<div id="course-feedback" class="container-wrapper">
  <div class="container">
    <div class="row">
      <i class="icon icon-star3 icon-section-divider"></i>
      <h2>
        Deine Meinung ist uns wichtig
        <br />
        <small class="muted">Bewerte diesen Kurs und gebe dem Experten wertvolles Feedback</small>
      </h2>
      <div class="row">
        <div class="col-md-8 col-md-push-2">
          <form class="form-rating" role="form">
            <div class="form-group">
              <label for="exampleInputPassword1">1. Dein Feedback</label>
              <textarea class="form-control" rows="6"></textarea>
            </div>
            <div class="form-group rating-control">
              <label for="exampleInputEmail1">2. Bewerte diesen Kurs</label>
              <div class="rating">
                <i class="icon icon-star3"></i>
                <i class="icon icon-star3"></i>
                <i class="icon icon-star3"></i>
                <i class="icon icon-star3"></i>
                <i class="icon icon-star3"></i>
              </div>
              <button type="submit" class="btn btn-lg btn-primary pull-right">Feedback absenden</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="course-recommendation" class="container-wrapper">
  <div class="container">
    <div class="row">
      <i class="icon icon-library icon-section-divider"></i>
      <h2>
        Wie geht's weiter?
        <br />
        <small class="muted">Wir empfehlen Dir zur weiteren Fortbildung diese 3 beispielhaften Kurse</small>
      </h2>
      <div class="row">
        <div class="col-md-4">
          <div class="course-box">
            <img src="img/jimdo1.jpg" class="course-img"></img>
            <div class="course-infos">
              <div class="course-author">
                <img src="img/dad.jpg" class="avatar avatar-lg">
                <div class="author-name pull-left">
                  Gregor Swatek
                  <small>Online-Marketing</small>
                </div>
              </div>
              <h3>Wie baue ich eine Facebook Fanpage auf?</h3>
              <div class="course-footer">
                <span class="course-rating pull-left">
                  <i class="icon icon-star"></i> 4.5
                </span>
                <span class="course-readers pull-left">
                  <i class="icon icon-reading"></i> 33
                </span>
                <a href="#" class="btn btn-success pull-right">Spielen</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="course-box">
            <img src="img/jimdo1.jpg" class="course-img"></img>
            <div class="course-infos">
              <div class="course-author">
                <img src="img/bbfoto.jpg" class="avatar avatar-lg">
                <div class="author-name pull-left">
                  Hendric Rüsch
                  <small>Webauftritt</small>
                </div>
              </div>
              <h3>1-2-3 Jimdo und Du. Die eigene Homepage mit Shopmodul in 5 Minuten aufgesetzt.</h3>
              <div class="course-footer">
                <span class="course-rating pull-left">
                  <i class="icon icon-star"></i> 3.0
                </span>
                <span class="course-readers pull-left">
                  <i class="icon icon-reading"></i> 65
                </span>
                <a href="#" class="btn btn-success pull-right">Spielen</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="course-box">
            <img src="img/jimdo1.jpg" class="course-img"></img>
            <div class="course-infos">
              <div class="course-author">
                <img src="img/player.PNG" class="avatar avatar-lg">
                <div class="author-name pull-left">
                  Oliver Hermanni
                  <small>Datensicherheit</small>
                </div>
              </div>
              <h3>NSA my Ass sein Nachbar: Wie Geschäftsgeheimnisse im Geschäft geheim bleiben.</h3>
              <div class="course-footer">
                <span class="course-rating pull-left">
                  <i class="icon icon-star"></i> 4.0
                </span>
                <span class="course-readers pull-left">
                  <i class="icon icon-reading"></i> 50
                </span>
                <a href="#" class="btn btn-success pull-right">Spielen</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
