<div id="content" class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Herzlichen Glückwunsch
        <span>zum erfolgreichen Kursabschluss!</span>
      </h1>
      <div class="speech-bubble">
        <img src="img/dad.jpg" class="avatar avatar-lg">

        <div class="bubble col-md-6">
          Zum Abschluss meines Kurses <b>Pain in the ASS</b> möchte ich mich bei dir herzlich bedanken und dich gleichzeitig beglückwünschen:
          <br />
          Du bist nun <b>zertifizierter Google AdWords-Manager</b> und somit in der Lage diese Kampagnen zum Erfolg zu führen. 
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>Deine Leistungen im Überblick</h2>
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <div class="certificate col-md-12"></div>
    </div>
  </div>
</div>