<div class="container">
  <div class="row" id="content">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <h2>Kurs {{ currentTask }}</h2>
          <form name="addcourse" role="form">
            <div class="form-group">
              <label for="courseTitle">Wie lautet der Name für diesen Kurs?</label>
              <input type="text" class="form-control" id="courseTitle" placeholder="Überschrift" ng-model="course.title">
            </div>
            <div class="form-group">
              <label for="courseSummary">Was werden die Kursteilnehmer in diesem Kurs lernen können?</label>
              <div rich-text-editor ng-model="course.summary"></div>
            </div>
            <div class="form-group">
              <label for="courseAdvice">Ergänze hier einen persönlichen Hinweis für die Kursteilnehmer</label>
              <textarea id="courseAdvice" class="form-control" placeholder="Rat"
                        ng-model="course.advice"></textarea>
            </div>
            <div class="form-group form-actions">
              <button ng-click="createCourse()" class="btn btn-primary pull-right" ng-disabled="!course.title">Kurs speichern</button>
              <button ng-click="cancel()" class="btn btn-link pull-right">Abbrechen</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3 course-nav-container">
      <div class="row">
        <div class="course-navigation" ng-include src="'js/views/partials/sidebar.html'"></div>
      </div>
    </div>

  </div>
</div>