<div class="container">
  <div class="row" id="content">

    <div class="col-md-12">
      <h2>Meine Kurse</h2>
      <div ng-repeat="course in courses" >
        <div class="well well-sm clearfix">
            <h4>
                {{course.title}}

            </h4>
          <p ng-bind-html="to_trusted(course.summary)">
            {{course.summary}}
          </p>
          <a href="#/player/course/{{course.id}}/{{chapters.0.id}}" class="btn btn-primary pull-right">Starte den Kurs</a>
        </div>
      </div>
    </div>
  </div>
</div>