<div id="content" class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="course-overview">
        <div class="well">
          <i class="icon icon-lamp course-icon hidden-xs"></i>
          <h2>{{course.title}}</h2>
          <p class="description" ng-bind-html="to_trusted(course.summary)">
            {{course.summary}}
          </p>          
        </div>
      </div>

      <h3 ng-controller="ChaptersController">
        Kapitelübersicht <small ng-hide="!chapters.length">({{chapters.length}} Kapitel insgesamt)</small>
        <!-- <a class="btn btn-primary pull-right" ng-controller="CoursesController" href="#/course/{{course.id}}/chapter/add"><i class="icon icon-pencil3"></i> Neues Kapitel erstellen</a> -->
      </h3>
      <div class="chapters" ng-controller="ChaptersController">
        <div class="chapter" ng-repeat="chapter in chapters">
          <div class="well chapter-header">
            <div class="chapter-count hidden-xs">
              {{$index+1}}
            </div>
            <div class="chapter-details">
              <h4 class="chapter-title">{{chapter.title}}</h4>
              <div class="description">
                <p ng-bind-html="to_trusted(chapter.summary)">{{chapter.summary}}</p>
                <span class="label" ng-show="player">Gesamt-Fortschritt:</span>
                <div class="progress" ng-show="player">
                  <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                    <span>1/{{chapter.modules.length}}</span>
                  </div>
                </div>
                <a href="#/player/chapter/{{course.id}}/{{chapter.id}}" class="btn btn-success pull-right"><i class="icon icon-lamp2"></i> Kapitel starten</a>
              </div>
              <div class="chapter-insights">
                <button class="btn btn-link btn-toggle-steps pull-left" ng-class="{collapsed: $index+1 > 1}" type="button" data-toggle="collapse" data-target="#chapter-{{chapter.id}}-steps">
                  <i class="fa fa-bars"></i>
                  Seiten
                </button>
                <div class="insight-wrapper pull-left">
                  <i class="fa fa-rocket pull-left"></i>
                  <span class="count pull-left">3600</span>
                  <span class="type hidden-xs pull-left">Punkte</span>
                </div>
                <div class="insight-wrapper pull-left">
                  <i class="icon icon-medal pull-left"></i>
                  <span class="count pull-left">4</span>
                  <span class="type hidden-xs pull-left">Achievements</span>
                </div>
                <div class="insight-wrapper pull-left">
                  <i class="icon icon-reading pull-left"></i>
                  <span class="count pull-left">43</span>
                  <span class="type hidden-xs pull-left">Leser</span>
                </div>
              </div>
            </div>
          </div>
          <ul id="chapter-{{chapter.id}}-steps" class="list-group chapter-steps collapse" ng-class="{in: $index+1 == 1}">
            <li class="list-group-item chapter-step {{module.module_type}}" ng-repeat="module in chapter.modules">
              <i class="step-status pull-left"></i>
              {{module.title}}
            </li>
          </ul>
        </div>
      <div  ng-hide="player">
        <a class="btn btn-default btn-block" ng-controller="CoursesController" ng-show="chapters.length" href="#/course/{{course.id}}/chapter/add"><i class="fa fa-plus"></i> Neues Kapitel erstellen</a>
      </div>
      </div>
      <p class="course-overview-preview" ng-controller="ChaptersController" ng-hide="chapters.length">
          <i class="icon icon-book"></i>
          Das erste Kapitel erstellen
      </p>
    </div>
    <aside class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <div class="course-stats">
            <div class="category pull-left">
              <span class="main-cat">Online-Marketing</span>
            </div>
            <hr class="clearfix" />
            <div class="stat-item col-sm-2">
              <i class="icon icon-book"></i>
              <span ng-controller="ChaptersController" class="stat-count">{{chapters.length}}</span>
              <span class="stat-label">Kapitel</span>
            </div>
            <div class="stat-item col-sm-3">
              <i class="icon icon-medal"></i>
              <span class="stat-count">4</span>
              <span class="stat-label">Achievements</span>
            </div>
            <div class="stat-item col-sm-2">
              <i class="fa fa-rocket"></i>
              <span class="stat-count">2600</span>
              <span class="stat-label">Punkte</span>
            </div>
            <div class="stat-item col-sm-3">
              <i class="icon icon-meter-medium"></i>
              <span class="stat-count">65%</span>
              <span class="stat-label">Interaktion</span>
            </div>
            <div class="stat-item col-sm-2">
              <i class="icon icon-alarm"></i>
              <span class="stat-count">2:30</span>
              <span class="stat-label">Dauer</span>
            </div>        
          </div>
        </div>          
      </div>
      <div class="row">        
        <div class="col-md-12">
          <h3>Author</h3>
          <div class="author-vita speech-bubble top">
            <div class="author-head">
              <img src="img/bbfoto.jpg" class="avatar avatar-lg">
              <div class="author-name pull-left">
                Boris Becker
                <small>Autoverkäufer</small>
              </div>
            </div>
            
            <div class="bubble col-md-6">
              <!-- {{course.advice}} -->
              Ich konzipiere und gestalte Mobile- und Web-Anwendungen, dabei lege ich besonderen Wert auf Einfachheit und Flexibilität der Anwendung genauso wie auf eine intuitive und benutzerfreundliche Bedienung.
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>




