<div class="col-md-9">
  <div class="well">
    <h2>{{ chapter.title }}</h2>

    <p class="description">
      {{ chapter.summary }}
    </p>
  </div>
  <div class="speech-bubble right-handed">
    <img src="img/dirtydieter.jpg" class="avatar">

    <div class="bubble col-md-6">
      {{chapter.advice}}
    </div>
  </div>
  <h3>Chapter settings</h3>

  <div class="settings-control">
    <div class="onoffswitch pull-left">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
      <label class="onoffswitch-label" for="myonoffswitch">
        <div class="onoffswitch-inner"></div>
        <div class="onoffswitch-switch"></div>
      </label>
    </div>
    <div class="switch-text pull-left">
      Draftmode
      <span class="hint">(Not visible on editorial check)</span>
    </div>
  </div>

  <h3>Select achievement for this chapter</h3>

  <p>here comes the achievements</p>

  <div class="chapter-actions">
    <a href="#">Create another chapter</a> or <a class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create new step <i class="fa fa-angle-right"></i></a>
  </div>  
</div>
<div class="col-md-3 course-nav-container">
  <div class="row">
    <div class="course-navigation" ng-include src="'js/views/partials/sidebar.html'"></div>
  </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Choose type for next step</h4>
      </div>
      <div class="modal-body">
        <p ng-controller="GametypeController">
          <a href class="btn btn-primary" ng-click="createModule('text')">Text</a>
          <a href class="btn btn-primary" ng-click="createModule('quiz')">Quiz</a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->