<div class="col-md-9">
  <div class="well well-sm">
      <h2>Wissen Sie, warum die Italienmannschaft kaufen nicht diese Spieler {{courseId}}</h2>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut metus adipiscing, accumsan ipsum a,
          faucibus risus. Cras ut tempor eros. Vivamus ut sem vel odio imperdiet gravida. Quisque in augue et libero
          molestie luctus sit amet non purus. Duis scelerisque nulla sed nunc sodales tincidunt. Proin in ultrices
          arcu. Sed et tempus mauris.
      </p>
  </div>
  <div class="speech-bubble right-handed">
      <img src="img/dirtydieter.jpg" class="avatar">
      <div class="bubble col-md-6">
        Any advice for your Any advice for your Any advice for your Any advice for your Any advice for your course...
      </div>
  </div>
  <h3>Chapter settings</h3>
  <div class="chapter-settings-control">
    <div class="onoffswitch pull-left">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
        </label>
    </div>
    <div class="switch-text pull-left">
        Draftmode
        <span class="hint">(Not visible on editorial check)</span>
    </div>  
  </div>

  <h3>Select achievement for this chapter</h3>
  <p>here comes the achievements</p>
  <div class="chapter-actions">
    <a href="#">Create another chapter</a> or <a class="btn btn-danger">Create new step <i class="fa fa-angle-right"></i></a>  
  </div>  
</div>
<div class="col-md-3 course-nav-container">
  <div class="row">
    <div class="course-navigation" ng-include src="'partials/sidebar.html'"></div>
  </div>
</div>

