<div class="row">
    <div class="col-md-12">
        <div class="well well-sm">
            <h2>Wissen Sie, warum die Italienmannschaft kaufen nicht diese Spieler {{courseId}}</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut metus adipiscing, accumsan ipsum a,
                faucibus risus. Cras ut tempor eros. Vivamus ut sem vel odio imperdiet gravida. Quisque in augue et libero
                molestie luctus sit amet non purus. Duis scelerisque nulla sed nunc sodales tincidunt. Proin in ultrices
                arcu. Sed et tempus mauris.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-md-offset-5">
        <div class="arrow_box">
            <div class="bubble">
                Any advice for your course...
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <img src="img/player.png" class="img-circle">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Chapter settings</h3>
        <div class="row">
            <div class="col-md-1">
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <div class="onoffswitch-inner"></div>
                        <div class="onoffswitch-switch"></div>
                    </label>
                </div>
            </div>
            <div class="col-md-11">
                <div class="switch-text">
                    Draftmode
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Select achievement for this chapter</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-6 pull-right">
      <span class="pull-right">
        <a href="#">Create another chapter</a> or <a class="btn btn-danger">Create new step <i class="fa fa-chevron-right"></i></a>
      </span>
    </div>
</div>
