<div class="row">
    <div class="col-md-12">
        <div class="well well-sm">
            <h2>Wissen Sie, warum die Italienmannschaft kaufen nicht diese Spieler</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut metus adipiscing, accumsan ipsum a,
                faucibus risus. Cras ut tempor eros. Vivamus ut sem vel odio imperdiet gravida. Quisque in augue et libero
                molestie luctus sit amet non purus. Duis scelerisque nulla sed nunc sodales tincidunt. Proin in ultrices
                arcu. Sed et tempus mauris.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-md-offset-5">
        <div class="arrow_box">
            <div class="bubble">
                Any advice for your course...
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <img src="img/player.png" class="img-circle">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Chapter Overview <small>(0 chapters)</small></h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-4">
              <span class="center-block">
                <a class="btn btn-danger"><i class="fa fa-book"></i> Create your first chapter</a>
              </span>
    </div>
</div>
