
<div class="well">
    <h2>Wissen Sie, warum die Italienmannschaft kaufen nicht diese Spieler</h2>
    <p class="course-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut metus adipiscing, accumsan ipsum a,
        faucibus risus. Cras ut tempor eros. Vivamus ut sem vel odio imperdiet gravida. Quisque in augue et libero
        molestie luctus sit amet non purus. Duis scelerisque nulla sed nunc sodales tincidunt. Proin in ultrices
        arcu. Sed et tempus mauris.
    </p>
</div>
<div class="speech-bubble right-handed">
    <img src="img/bbfoto.jpg" class="avatar">
    <div class="bubble col-md-6">
      Any advice for your Any advice for your Any advice for your Any advice for your Any advice for your course...
    </div>
</div>

<h3>Chapter Overview <small>({{chapters.length}} chapters)</small></h3>
<div class="chapters">
  <div class="chapter" ng-repeat="chapter in chapters">
    <div class="well chapter-header">
      <a href ng-click="onDelete(chapter.id)" class="chapter-remove" title="remove this chapter and all steps in it"><i class="icon icon-remove"></i></a>
      <div class="chapter-count">
        {{$index+1}}
      </div>
      <div class="chapter-details">
        <h4 class="chapter-title"><a href="#/chapter/{{chapter.id}}">{{chapter.title}}</a></h4>
        <p>{{chapter.content}}</p>        
      </div>
    </div>
    <ul class="list-group chapter-steps">
      <li class="list-group-item chapter-step" ng-repeat="n in [1,2,3,4,5]">
        <i class="step-status pull-left"></i>
        <a class="step-title col-md-10" href="#/chapter/{{chapter.id}}">{{chapter.title}}</a>
        <a href="/" class="step-remove"><i class="icon icon-remove"></i></a>
        <i class="fa fa-ellipsis-v fa-2x pull-right item-drag-handle"></i>
      </li>
    </ul>
  </div>
</div>
<p class="course-overview-preview" ng-hide="chapters.length">
  <a href="#/addchapter" class="btn btn-warning btn-lg">
    <i class="fa fa-lg fa-book"></i>
    Create your first chapter
  </a>
</p>
