<div class="col-md-9">
  <div class="content-head">
    <a href="/" class="btn btn-default btn-link toggle-usermenu pull-left">
      <i class="fa fa-bars"></i></a>
    <a href="/" class="pull-left back-to-overview"><i class="fa fa-angle-left"></i> Zurück zur Übersicht</a>
    <div class="working-status pull-right">
      <span>All changes has been saved.</span>
      <i class="fa fa-spinner fa-spin"></i>
    </div>

  </div>          
</div>
<div class="col-md-3 user-progress">
  <div class="progress-wrapper">
    <a href="/" class="btn btn-link btn-default toggle-course-navigation pull-left">
      <i class="fa fa-list-ul"></i>
    </a>
    <span class="course-step-count pull-left">
      <span class="current">2</span>
      <span class="total">/ 10</span>
    </span>

    <a href="/" class="pull-right total-point-count">
      <i class="fa fa-rocket"></i>
      <span>1337</span>
    </a>
  </div>
</div>
