.btn {
  .transition(.25s);
  border: 1px solid transparent;
  &:hover {
  }
}
.btn-primary {
  border-bottom: 2px solid darken(@brand-primary, 8%);
  &:hover {
    border-color: darken(@brand-primary, 8%);
  }
}
.btn-success {
  border-bottom: 2px solid darken(@brand-success, 8%);
  &:hover {
    border-color: darken(@brand-success, 8%);
  }
}
