.chapter {
  margin-bottom: @xl-space * 2;
}
.chapter-settings,
.chapter-achievements {
  margin-bottom: 3em;
}
.chapter-actions {
  .clearfix;
  text-align: right;
  margin-top: 3em;
  margin-bottom: 3em;
  .btn-link.btn-default {
    color: @gray;
    &:hover {
      color: @gray-dark;
    }
  }
}
.chapter-header {
  .clearfix;
  position: relative;
  margin-bottom: 2px;
  h4.chapter-title {
    width: 95%;
    > a {
      color: @brand-secondary;
      font-size: @font-size-large;
      &:hover {
        color: @midnight-blue;
      }
    }
  }
  p {
    color: @gray-light;
    margin-bottom: @xl-space;
  }
  .chapter-count {
    font-family: @font-family-decorative;
    border-radius: 50%;
    border: 2px solid @gray;
    color: @gray;
    width: 60px;
    height: 60px;
    position: absolute;
    left: @xl-space;
    top: @xl-space;
    text-align: center;
    line-height: 1.5em;
    font-size: @font-size-middle * 2;
    font-weight: 300;
  }
  .chapter-details {
    .description {
      margin-bottom: 2em;
      .label {
        display: block;
        text-align: left;
      }
    }
    span.label {
      color: @gray;
      font-weight: 600;
      margin-right: @m-space;
      padding-left: 0;
      padding-right: 0;
    }
    .btn.btn-success,
    .btn.btn-default {
      margin-top: 6px;
      display: block;
      width: 100%;
    }
  }
}
.chapter-insights {
  .clearfix;
  position: relative;
  border-top: 1px solid @gray-lightest;
  padding: 10px 20px;
  background: #f9f9f9;
  margin-bottom: (@m-space + @l-space) * -1;
  margin-left: @xl-space * -1;
  margin-right: @xl-space * -1;
  .btn-toggle-steps {
    .transition(.3s);
    font-size: 0.75em;
    padding: 0;
    margin-right: @l-space;
    font-family: @font-family-decorative;
    color: @gray;
    font-weight: 300;
    text-transform: uppercase;
    &:hover, &:focus {
      text-decoration: none;
    }
    .fa, .icon {
      color: @brand-primary;
      display: block;
      font-size: 21px;
    }
    &.collapsed {
      color: @basic-grey;
      .fa, .icon {
        color: @gray;
      }
      &:hover {
        color: @gray;
      }
    }
  }
  .insight-wrapper {
    .clearfix;
    margin-right: @m-space;
    .fa, .icon, .count {
      margin-right: @m-space;
      color: @gray;
      font-size: 1.125em;
      line-height: 2.25em;
    }
    .count {
      font-weight: 300;
    }
    .type {
      color: @basic-grey;
      line-height: 3em;
      font-weight: 300;
    }
    &:last-child {
      border-right: 0px;
    }
  }
}
