.achievement-summary {
  .as-item {
    position: relative;
    .clearfix;
    padding: @xl-space;
    font-size: @font-size-base;
    font-weight: 300;
    margin-left: 4em;
    margin-bottom: 2em;
    line-height: 1.5em;
    color: #9aa0a5;
    background: #50555b;
    &:after {
      left: -30px;
      top: 20px;
      border: solid transparent;
      border-right-color: #50555b;
      border-width: @l-space;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      z-index: 1;
    }
  }
  .as-value {
    font-size: @font-size-h3;
    font-weight: 400;
    color: @gray-lightest;
    font-family: @font-family-decorative;
    display: block;
    margin-bottom: @m-space;
    .icon, .fa {
      margin-right: @s-space;
      color: @brand-success;
    }
  }
}
#course-congratulation {
  background: white;
  padding: 8em 0;
  h1 {
    color: #5b6269;
    text-align: center;
  }
  .speech-bubble {
    margin-bottom: 0em;
    .avatar {
      float: none;
      margin: 0 auto @xl-space;
    }
    .bubble {
      margin-left: 0;
      &:after {
        border-right-color: transparent;
        border-bottom-color: @polar-ice;
        top: -@xl-space;
        right: 48%;
      }
    }
  }
}
#course-achievement {
  // .lh-background-image(linear-gradient(to bottom, @emerald, @nephritis));
  // .lh-background-image(linear-gradient(to bottom, @peter-river, @belize-hole));
  background-color: #5b6269;
  padding-bottom: 8em;
  h2 {
    margin: 2em 0;
    color: @gray-lightest;
    text-align: center;
  }
  .icon-section-divider {
    .box-shadow(0 2px 0 rgba(0,0,0,.3));
    background: @emerald;
    color: white;
    border-radius: 50%;
    font-size: 2em;
    line-height: 1.75em;
    border: @s-space solid white;
    display: block;
    margin: 0 auto;
    margin-top: -1em;
    width: 2em;
    height: 2em;
    text-align: center;
  }
  .certificate-wrapper {
    text-align: center;
  }
  a.btn-link {
    clear: both;
    color: @gray-lightest;
    margin: 0 auto;
    display: inline-block;
    i.icon {
      color: @alizarin;
    }
    &:hover {
      background: #50555b;
    }
  }
}