.course-nav-container {
  position: relative;
  margin: 0 15px;
  background: @gray-dark;
  color: white;
  .btn-default.btn-link {
    .transition(.3s);
    color: @clouds;
    &:hover {
      text-decoration: none;
      color: @silver;
    }
  }
  .course-title {
    .one-line-text;
    background: @wet-asphalt;
    margin-top: 0px;
    margin-bottom: 1px;
    font-size: @font-size-middle;
    padding: 10px 15px;
  }
	.list-group {
		border-radius: 0;

    .list-group-item {
      background: @midnight-blue;
      border: 0;
      border-bottom: 1px solid @wet-asphalt;
      border-radius: 0;
      margin-bottom: 0;
      line-height: 1.75em;
      padding-right: 0;
      > a {
        color: @clouds;
      }
    }
  }
}
