.hint {
  color: @gray-light;
  font-style: italic;
  font-weight: 300;
}
.settings-control {
  .clearfix;
  background: white;
}

.form-actions {
  .clearfix;
}
.rating-control {
  .clearfix;
  label {
    float: left;
    font-size: 1em;
    line-height: 2.2em;
    margin: @s-space @xl-space 0 0;
  }
  .rating {
    float: left;
    margin-top: @s-space;
    margin-bottom: @xl-space;
  }
}