@font-face {
	font-family: 'bizcademy-icons';
	src:url('../fonts/bizcademy-icons.eot');
	src:url('../fonts/bizcademy-icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bizcademy-icons.ttf') format('truetype'),
		url('../fonts/bizcademy-icons.woff') format('woff'),
		url('../fonts/bizcademy-icons.svg#bizcademy-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'bizcademy-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-calendar4:before {
	content: "\e115";
}
.icon-reading:before {
	content: "\e073";
}
.icon-numbered-list:before {
	content: "\e29c";
}
.icon-stats2:before {
	content: "\e1ff";
}
.icon-pencil3:before {
	content: "\e00f";
}
.icon-gamepad:before {
	content: "\e051";
}
.icon-library2:before {
	content: "\e075";
}
.icon-graduation:before {
	content: "\e076";
}
.icon-book2:before {
	content: "\e071";
}
.icon-book:before {
	content: "\e070";
}
.icon-certificate:before {
	content: "\e0b1";
}
.icon-direction:before {
	content: "\e0fe";
}
.icon-alarm:before {
	content: "\e109";
}
.icon-bubble13:before {
	content: "\e169";
}
.icon-user-plus2:before {
	content: "\e188";
}
.icon-user7:before {
	content: "\e199";
}
.icon-quotes-left:before {
	content: "\e19f";
}
.icon-search:before {
	content: "\e1b6";
}
.icon-tools:before {
	content: "\e1e9";
}
.icon-stats-up:before {
	content: "\e207";
}
.icon-medal:before {
	content: "\e217";
}
.icon-meter-slow:before {
	content: "\e237";
}
.icon-meter-medium:before {
	content: "\e238";
}
.icon-meter-fast:before {
	content: "\e239";
}
.icon-rocket:before {
	content: "\e234";
}
.icon-lamp4:before {
	content: "\e24e";
}
.icon-lamp:before {
	content: "\e24b";
}
.icon-remove2:before {
	content: "\e250";
}
.icon-menu:before {
	content: "\e2a9";
}
.icon-tree5:before {
	content: "\e2a8";
}
.icon-star3:before {
	content: "\e2fe";
}
.icon-star:before {
	content: "\e2fc";
}
.icon-checkmark:before {
	content: "\e370";
}
.icon-close:before {
	content: "\e36b";
}
.icon-plus:before {
	content: "\e376";
}
.icon-arrow-circle-up:before {
	content: "\e40c";
}
.icon-arrow-circle-middle:before {
	content: "\e40d";
}
.icon-arrow-circle-down:before {
	content: "\e40e";
}
.icon-radio-checked:before {
	content: "\e438";
}
.icon-radio-unchecked:before {
	content: "\e439";
}
.icon-circle-small:before {
	content: "\e2ab";
}
.icon-enter-alt:before {
	content: "\e41c";
}
.icon-file-pdf:before {
	content: "\e4e2";
}
.icon-racing:before {
	content: "\e288";
}
.icon-checkbox-checked:before {
	content: "\e42e";
}
.icon-checkbox-unchecked:before {
	content: "\e42f";
}
