@font-face {
	font-family: 'bizcademy-icons';
	src:url('../fonts/bizcademy-icons.eot');
	src:url('../fonts/bizcademy-icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bizcademy-icons.ttf') format('truetype'),
		url('../fonts/bizcademy-icons.woff') format('woff'),
		url('../fonts/bizcademy-icons.svg#bizcademy-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'bizcademy-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-graduation:before {
	content: "\e076";
}
.icon-book:before {
	content: "\e071";
}
.icon-books:before {
	content: "\e072";
}
.icon-reading:before {
	content: "\e073";
}
.icon-podcast:before {
	content: "\e06a";
}
.icon-rocket:before {
	content: "\e234";
}
.icon-lamp:before {
	content: "\e24b";
}
.icon-remove:before {
	content: "\e251";
}
.icon-list:before {
	content: "\e29e";
}
.icon-menu:before {
	content: "\e2a9";
}
.icon-menu2:before {
	content: "\e2af";
}
.icon-checkmark:before {
	content: "\e370";
}
.icon-quill:before {
	content: "\e015";
}
.icon-medal:before {
	content: "\e217";
}
.icon-meter-slow:before {
	content: "\e237";
}
.icon-meter-medium:before {
	content: "\e238";
}
.icon-meter-fast:before {
	content: "\e239";
}
.icon-arrow-right:before {
	content: "\e3b1";
}
.icon-arrow-left:before {
	content: "\e3b3";
}
.icon-radio-checked:before {
	content: "\e438";
}
.icon-radio-unchecked:before {
	content: "\e439";
}
.icon-arrow-right2:before {
	content: "\e411";
}
.icon-arrow-left2:before {
	content: "\e413";
}
.icon-lamp2:before {
	content: "\e24e";
}
.icon-paper-plane:before {
	content: "\e25c";
}
.icon-paragraph-center:before {
	content: "\e470";
}
.icon-paragraph-left:before {
	content: "\e46f";
}
.icon-insert-template:before {
	content: "\e467";
}
.icon-bubble:before {
	content: "\e169";
}
.icon-bubble-dots:before {
	content: "\e15d";
}
.icon-bubble2:before {
	content: "\e166";
}
.icon-gamepad:before {
	content: "\e051";
}
.icon-checkbox-checked:before {
	content: "\e42e";
}
.icon-checkbox-unchecked:before {
	content: "\e42f";
}
.icon-enter-alt:before {
	content: "\e41c";
}
.icon-brush:before {
	content: "\e020";
}
.icon-palette:before {
	content: "\e021";
}
.icon-stopwatch:before {
	content: "\e111";
}
.icon-alarm:before {
	content: "\e109";
}
.icon-bomb:before {
	content: "\e23d";
}
.icon-grid:before {
	content: "\e2a2";
}
.icon-grid2:before {
	content: "\e2a0";
}
.icon-list2:before {
	content: "\e29b";
}
.icon-tools:before {
	content: "\e1e9";
}
.icon-search:before {
	content: "\e1ba";
}
