.course-navigation {
  .chapter {
    .clearfix;
    i.chapter-status {
      .icon;
      font-size: 1em;
      position: relative;
      color: @concrete;
      margin-right: @s-space;
      line-height: @font-size-base * 2;
      &:before {
        content: "\e439";
      }
    }
    &.done > i.chapter-status:before {
      content: "\e438";
      color: @emerald;
    }
    &.current > i.chapter-status:before {
      content: "\e438";
      color: white;
    }
    .item-drag-handle {
      color: @wet-asphalt;
      position: relative;
      top: 2px;
      width: @xl-space;
      text-align: right;
      padding: 0 @s-space;
      &:hover {
        cursor: pointer;
      }
    }
    .chapter-title {
      .one-line-text;
      width: 75%;
      line-height: @font-size-base * 2;
      font-weight: 300;
    }
  }
}