.chapter-step {
  .clearfix;
  .transition(.2s);
  position: relative;
  background: @clouds;
  border: 0;
  border-bottom: 1px solid @gray-lighter;
  margin-bottom: 0;
  padding-right: 0;
  &:hover {
    background: #f6f6f6;
    .step-remove {
      right: @font-size-middle * 2.375;
      opacity: 1;
    }
  }
  .step-remove {
    .transition(.3s);
    font-size: @font-size-middle;
    color: @brand-danger;
    line-height: @font-size-base * 2;
    position: absolute;
    right: 0;
    opacity: 0;
    width: @font-size-base * 3;
    text-align: center;
  }
  i.step-status {
    .icon;
    font-size: @font-size-large;
    position: relative;
    color: @gray-light;
    margin-right: @s-space;
    line-height: @font-size-base * 2;
    &:before {
      content: "\e439";
    }
  }
  .step-title {
    .one-line-text;
    color: @wet-asphalt;
    line-height: @font-size-base * 2;
  }
  &.done > i.step-status:before {
    content: "\e438";
    color: @emerald;
  }
  &.current > i.step-status:before {
    content: "\e438";
    color: @gray-dark;
  }
  .item-drag-handle {
    color: @silver;
    position: relative;
    top: 2px;
    width: @font-size-base * 2;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }
}

.hint-wrapper {
  .clearfix;
  position: relative;
  border: 2px solid @gray-lighter;
  border-left: 3em solid @gray-lighter;
  min-height: 3em;
  margin-bottom: @s-space;
  .hint-counter {
    font-weight: 400;
    position: absolute;
    top: 0;
    left: -1.5em;
    background: @gray-lighter;
    color: @gray-light;
    font-size: 2em;
    width: 1.5em;
    text-align: center;
    float: left;
  }
  .hint-text {
    margin-left: @s-space;
    padding: @m-space @xl-space;
    line-height: 1.5em;
    float: left;
    color: @gray-light;
  }
  &.filled {
    border-color: #b6cbe2;
    background: #b6cbe2;
    .hint-counter, .hint-text {
      color: @wet-asphalt;
      background: #b6cbe2;
    }
  }
}
