// MIXIN Library
@import "lesshat-prefixed";

// EXTERNAL SOURCES
@import "bootstrap";
@import "font-awesome";
@import "icons";

// OWN LIBS
@import "colors";
@import "typo";
@import "buttons";
@import "forms";

// COMPONENTS
@import "components/one-line-text";
@import "components/speech-bubble";
@import "components/onoffswitch";
@import "components/well";
@import "components/checkbox";
@import "components/dropdown";
@import "components/achievements";
@import "components/jumbotron";
@import "components/jack-attack";
@import "components/wysihtml5";
@import "components/activity_barometer";
@import "components/progress";
@import "components/certificate";
@import "components/rating";

// VENDOR
@import "owlcarousel/owlcarousel";
@import "owlcarousel/owltheme";
@import "summernote/summernote";

// BIZCADEMY STYLES
@import "content-header";
@import "chapter";
@import "step";
@import "type-chooser";
@import "chapter-completed";
@import "course";
@import "course-navigation";
@import "profiling";
@import "marketing";
@import "theme";

// @media (max-width: @screen-xs-max) {}
// @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {}
// @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {}
// @media (min-width: @screen-lg-min) {}

@media (min-width: @screen-sm-min) {
  body {
    font-size: @font-size-base;
  }
  .new-chapter-step i.icon {
    margin: 0 31px 0 11px;
  }
  .chapter-step i.step-status {
    margin: 0 31px 0 11px;
  }
  .chapter-insights {
    margin-left: -104px;
    padding-left: 104px;
    .btn-toggle-steps {
      padding-top: @s-space;
      padding-bottom: @s-space;
      margin-left: -84px;
      padding-left: @m-space;
      padding-right: @m-space;
    }
    .insight-wrapper {
      border-right: 1px solid @gray-lightest;
      padding-right: @xl-space;
      .count {
        font-size: 1.25em;
      }
      .fa, .icon {
        font-size: 2.25em;
        line-height: 1.3em;
      }
    }
  }
  .chapter-header .chapter-details {
    padding-left: 84px;
    .btn.btn-success, .btn.btn-default {
      width: auto;
    }
    .description .label {
      float: left;
    }
  }
  .my_courses .course {
    .progress-label {
      float:left;
    }
    .course-metadata .course-autor {
      width: 160px;
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .my_courses .course .course-header {
    position: absolute;
    .course-header-icon { display: block; }
  }

  a.user-type-chooser {
    text-align: center;
    > .icon {
      font-size: 3em;
      display: block;
      float: none;
      margin: 0 auto;
    }
    > span {
      float: none;
      text-align: center;
      margin: @l-space auto 0;
      font-size: 1em;
      width: auto;
    }
  }
  .navbar-default .navbar-brand {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .author-name {
    width: 60%;
  }
  .profiling-steps {
    min-height: 944px;
    .profiling-title {
      margin: 1em 0 2em;
    }
    .profiling-answer {
      padding: @xl-space;
      &:after {
        width: 48px;
        height: 48px;
        font-size: 1em;
      }
      i.icon {
        font-size: 6em;
        margin-top: @l-space * 2;
        margin-bottom: @l-space * 2;
      }
      .answer-text {
        margin-bottom: @l-space;
        font-size: 1em;
      }    
    }
  }
  .course-stats .stat-item {
    width: 16.666666666666664%;
    padding-left: inherit;
    padding-right: inherit;
    &.col-sm-3 {
      width: 25%;
    }
  }
  .course-stats .stat-item .stat-label {
    .one-line-text;
    width: 100%;
  }
  .course-overview h2, .course-overview p.description {
    padding-left: 84px;
  }
  
}

@media (min-width: @screen-md-min) {
  .profiling-steps {
    min-height: 632px;
    &.finished-step {
      min-height: 1100px;    
    }
  }
  .course-stats .stat-item .stat-label {
    float: right;
    display: inline-block;
    width: auto;
  }
  .course-stats .stat-item,
  .course-stats .stat-item.col-sm-3 {
    width: 100%;
    padding: 0;
  }
  .course-nav-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }
}

@media (min-width: @screen-lg-min) {
  
}