// MIXIN Library
@import "lesshat-prefixed";

// EXTERNAL SOURCES
@import "bootstrap";
@import "font-awesome";
@import "icons";

// OWN LIBS
@import "colors";
@import "typo";
@import "buttons";
@import "forms";

// COMPONENTS
@import "components/one-line-text";
@import "components/speech-bubble";
@import "components/onoffswitch";
@import "components/well";
@import "components/checkbox";
@import "components/dropdown";
@import "components/achievements";
@import "components/jumbotron";
@import "components/jack-attack";
@import "components/wysihtml5";
@import "components/activity_barometer";

// VENDOR
@import "owlcarousel/owlcarousel";
@import "owlcarousel/owltheme";

// BIZCADEMY STYLES
@import "content-header";
@import "sidebar";
@import "chapter";
@import "step";
@import "type-chooser";
@import "quiz";
@import "course-navigation";
@import "theme";
@import "marketing";


@media (min-width: @screen-sm-min) {
}

@media (min-width: @screen-md-min) {
  .course-nav-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }
}

@media (min-width: @screen-lg-min) {
  
}