body {
	background: @sky-blue;
}

#content, .container {
  position: relative;
}

.course-overview-preview {
  background: transparent url("../img/course/course_overview.png") no-repeat top center;
  background-size: 100% auto;
  text-align: center;
  .btn.btn-primary {
    margin: 160px auto 0;
  }
}
.modal-backdrop {
  .lh-background-image(radial-gradient(ellipse at center, #666 25%,#000 100%));
}
.modal-backdrop.in {
  opacity: .9;
  filter: alpha(opacity=90);
}
