body {
	background: @sky-blue;
}

.container {
  position: relative;
}

#content {
  position: relative;
}
.chapter-counter {
	border: 2px solid #000;
	border-radius: 30px;
	padding: 5px 0 0 0;
	text-align: center;
	font-size: 32px;
	height: 60px;
	width: 60px;
}

.user-overview {
	div {
		float: left;
		border-right: 1px solid #e5e5e5;
		padding: 0 20px;
		color: #e5e5e5;

		strong {
			color: #000;
		}
	}
	div:last-child {
		border: none;
	}
}
.user-progress {
  background: @gray-dark;
  padding: 0;
}
.progress-wrapper {
  .clearfix;
  padding: @xl-space 0;
  line-height: 2.5em;
}

.course-nav-container {
	background: @gray-dark;
	color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  .btn-default.btn-link {
    .transition(.3s);
    color: @clouds;
    &:hover {
      text-decoration: none;
      color: @silver;
    }
  }
  .course-title {
    .one-line-text;
    background: @wet-asphalt;
    margin-top: 0px;
    margin-bottom: 1px;
    font-size: 1.25em;
    padding: 10px 15px;
  }
	.list-group {
		border-radius: 0;

    .list-group-item {
      background: @midnight-blue;
      border: 0;
      border-bottom: 1px solid @wet-asphalt;
      border-radius: 0;
      margin-bottom: 0;
      line-height: 1.75em;
      padding-right: 0;
      > a {
        color: @clouds;
      }
      .item-drag-handle {
        color: rgba(255,255,255,.3);
        width: 20px;
        text-align: right;
        padding: 0 5px;
      }
      .fa-stack {
        width: 1em;
        margin-right: 5px;
        > .fa-circle {
          font-size: .44em;
          display: none;
        }
        &.done > .fa-circle {
          color: @turquoise;
          display: block;
        }
        &.current > .fa-circle {
          color: inherit;
          display: block;
        }
      }
    }
  }
}

.well {
  background: white;
  border-radius: 0;
  border: none;
  .box-shadow(0 2px 0 #E3E3E3);
  padding: @l-space;
  > h2 {
    margin: 0 0 @l-space;
  }
}

.course-description {
  color: @gray-light;
}
.course-overview-preview {
  background: transparent url("../img/course/course_overview.png") no-repeat top center;
  background-size: 100% auto;
  text-align: center;
  .btn.btn-warning {
    margin: 160px auto 0;
  }
}
.chapter-settings-control {
  .clearfix;
  background: white;
}
.chapter-actions {
  text-align: right;
}

.chapter-insights {
  .clearfix;
  .insight-wrapper {
    .clearfix;
    padding-right: @xl-space;
    margin-right: @l-space;
    border-right: 1px solid @gray-lightest;
    .icon, .count {
      margin-right: @m-space;
      color: @brand-secondary;
    }
    .icon {
      font-size: 2.25em;
      line-height: 1.3em;
    }
    .count {
      font-size: 1.25em;
      line-height: 2.25em;
    }
    .type {
      font-style: italic;
      color: @basic-grey;
      line-height: 3em;
    }
    &:last-child {
      border-right: 0px;
    }
  }
}
.chapter {
  margin-bottom: @xl-space * 2;
}
.chapter-header {
  .clearfix;
  position: relative;
  margin-bottom: 2px;
  h4.chapter-title {
    margin-top: 0;
    width: 95%;
    > a {
      color: @brand-secondary;
      font-size: @font-size-large;
      &:hover {
        color: @midnight-blue;
      }
    }
  }
  p {
    color: @gray-light;
    margin-bottom: @xl-space;
  }
  .chapter-count {
    font-family: @font-family-decorative;
    border-radius: 50%;
    border: 2px solid @brand-secondary;
    width: @font-size-middle * 3;
    height: @font-size-middle * 3;
    position: absolute;
    left: @l-space;
    top: @l-space;
    text-align: center;
    line-height: @font-size-middle * 2.5;
    font-size: @font-size-middle * 2;
    font-weight: 300;
  }
  .chapter-details {
    padding-left: @font-size-middle * 4;
  }
  .chapter-remove {
    .transition(.3s);
    position: absolute;
    top: @l-space;
    right: 0;
    width: @font-size-middle * 2;
    height: @font-size-middle * 2;
    color: @basic-grey;
    opacity: 0;
    font-size: @font-size-middle;
    &:hover {
      color: @gray;
    }
  }
  &:hover .chapter-remove {
    right: @s-space;
    opacity: 1;
  }
}
.chapter-step {
  .clearfix;
  .transition(.2s);
  position: relative;
  background: @clouds;
  border: 0;
  border-bottom: 1px solid @gray-lighter;
  margin-bottom: 0;
  padding-right: 0;
  &:hover {
    background: #f6f6f6;
    .step-remove {
      right: @font-size-middle * 2.375;
      opacity: 1;
    }
  }
  .step-remove {
    .transition(.3s);
    font-size: @font-size-middle;
    color: @brand-danger;
    line-height: @font-size-base * 2;
    position: absolute;
    right: 0;
    opacity: 0;
    width: @font-size-base * 3;
    text-align: center;
  }
  i.step-status {
    .icon;
    font-size: @font-size-large;
    position: relative;
    color: @gray-light;
    margin-right: @s-space;
    line-height: @font-size-base * 2;
    &:before {
      content: "\e439";
    }
  }
  .step-title {
    .one-line-text;
    color: @wet-asphalt;
    line-height: @font-size-base * 2;
  }
  &.done > i.step-status:before {
    content: "\e438";
    color: @emerald;
  }
  &.current > i.step-status:before {
    content: "\e438";
    color: @gray-dark;
  }
  .item-drag-handle {
    color: @silver;
    position: relative;
    top: 2px;
    width: @font-size-base * 2;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }
}
