.jumbotron {
  padding: 2em @l-space;
  text-align: center;
  margin-top: 52px;
  margin-bottom: @font-size-base * 6;
  .lh-background-image(linear-gradient(to bottom, @peter-river, @belize-hole));
  h1 {
    color: #fff;
    font-weight: 200;
    margin-bottom: @font-size-base;
    b {
      font-weight: 400;
    }
  }
  .lead {
    color: rgba(255,255,255,.6);
    margin-bottom: @font-size-base * 6;
    // color: @gray-lightest;
    // font-size: 0.875em;
    
  }
}