.jumbotron {
  text-align: center;
  margin-top: 52px;
  .lh-background-image(linear-gradient(to bottom, @peter-river, @belize-hole));
  h1 {
    color: #fff;
    b {
      font-weight: 400;
    }
  }
  .lead {
    color: rgba(255,255,255,.3);
  }
}