.well {
  .box-shadow(0 2px 0 @gray-lighter);
  background: white;
  border-radius: @border-radius-base;
  border: none;
  padding: @xl-space @xl-space @xl-space + @s-space;
  position: relative;
  > h2 {
    margin: 0 @l-space * 2 @l-space 0;
  }
  &.inverse {
    background: @belize-hole;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
  }
  .btn-group-controls {
    .transition(.3s);
    position: absolute;
    top: @xl-space;
    right: 0;
    width: @font-size-middle * 2;
    height: @font-size-middle * 2;
    opacity: 0;
    font-size: @font-size-middle;
    .btn {
      color: @basic-grey;
      &:hover {
        color: @gray;
      }
    }
  }
  &:hover .btn-group-controls {
    right: @xl-space;
    opacity: 1;
  }
  
}

.description {
  color: @gray-light;
}
