.well {
  .box-shadow(0 2px 0 @gray-lighter);
  background: white;
  border-radius: @border-radius-base;
  border: none;
  padding: @l-space @xl-space;
  position: relative;
  > h2 {
    margin: 0 0 @l-space;
  }
  &.inverse {
    background: @belize-hole;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.description {
  color: @gray-light;
}
